parameters:
    level: 7
    paths:
        - src
    checkGenericClassInNonGenericObjectType: false
    exceptions:
    ignoreErrors:
        -
            message: '#Property [a-zA-Z0-9\:_\\\$]+ is never written, only read#'
            path: src/Entity/*